

        <!--body content start-->
        <section class="body-content" id="contact">

            <!--promo box-->
            <div class="full-width promo-box dark-bg">
                <div class="container">
                    <div class="col-md-12">
                        <div class="text-center">
                            <h3 class="light-txt">we <span class="theme-color">love</span> new friends</h3>
                            <div class="social-link circle m-top-50 m-bot-50">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-behance"></i></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
            <!--promo box-->

            <div class="page-content">

                <div class="container">

                    <div class="heading-title-alt border-short-bottom text-center ">
                        <h3 class="text-uppercase">feel free to drop us a line</h3>
                        <div class="half-txt">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. Nam libero tempore</div>
                    </div>

                    <div class="row">

                        <div class="col-md-10 col-md-offset-1">
                            <form class="contact-comments js-Mailer" method="post">
                                <div class="row">

                                    <div class="col-md-6 ">

                                        <div class="form-group">
                                            <input type="text" name="name" class=" form-control" placeholder="Name *" maxlength="100" required data-error="You must enter name">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" name="email" class=" form-control" placeholder="Email *" maxlength="100" required data-error="Invalid email address!">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                        <div class="form-group">
                                            <input type="phone" name="phone" class=" form-control" placeholder="Phone" maxlength="100" required data-error="Invalid phone number!">
                                            <div class="help-block with-errors"></div>
                                        </div>                                        
                                        <div class="form-group">
                                            <input type="text" name="subject" class=" form-control" placeholder="Subject" maxlength="100">
                                        </div>
                                    </div>

                                    <div class="col-md-6 form-group">
                                        <div class="form-group">
                                            <textarea name="comments" class="cmnt-text form-control" placeholder="Comments" maxlength="400"></textarea>
                                        </div>
                                        <div class="form-group full-width">
                                            <button type="submit" class="btn btn-small btn-dark-solid ">Send Message</button>
                                        </div>
                                    </div>

                                </div>

                            </form>

                        </div>
                    </div>
                </div>

            </div>

        </section>


        <!--footer start -->
        <footer id="footer" class=" dark text-center footer-6">
            <div class="container-">
                <div class="copyright-sub-title text-uppercase border-top m-bot-30">
                    &copy; Copyright 2014 "MASSIVE". All right reserved
                </div>
            </div>
        </footer>
        <!--footer end-->   