
                                    <div class="product-rating">
                                        {% case rating %}
                                                                    {% when 1 %}
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star-o"></i>
                                                                    {% when 2 %}
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>  
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star-o"></i>  
                                                                    {% when 3 %}
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>  
                                                                <i class="fa fa-star-o"></i>
                                                                <i class="fa fa-star-o"></i> 
                                                                    {% when 4 %}
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star-o"></i>    
                                                                    {% when 5 %}
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>    
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                <i class="fa fa-star"></i>
                                                                {% endcase %}
                                    </div>
                                    