<section id="blog-audrey" class="body-content p-top-80">
	<div class="page-content-sm">
		<div class="container">

			<!-- Heading -->			
			<div class="heading-title-alt text-center">
				<h3 class="text-uppercase">The Blog</h3>
				<p class="half-txt p-top-10">What we have been up to lately in the life of a Digital Nomad.</p>
			</div>
			<!-- Heading -->			
			
			<!-- 3 articles - 3 columns -->
			<div class="row ">
				<div class="col-md-12">
					<h6 class="text-uppercase heading-border-bottom">Most Recent</h6>
				</div>

				<div class="post-list">
					<!-- article 1 -->
					<div class="col-md-4">
						<div class="post-single">
							<ul class="post-cat">
								<li><a href="#">interface</a></li>
								<li><a href="#">standard</a></li>
							</ul>
							<div class="post-img">
								<img src="{{ site.static-image-url }}/magazine/mag8.jpg" alt="">
							</div>
							<div class="post-desk">
								<h4 class="text-uppercase"><a href="#">ultra modern design</a></h4>
								<div class="date">
									<a href="#" class="author">martin smith</a> july 29, 2015
								</div>
								<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
								<a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
							</div>
						</div>
					</div>
					<!-- article 1 -->

					<!-- article 2 -->
					<div class="col-md-4">
						<div class="post-single">
							<ul class="post-cat">
								<li><a href="#">interface</a></li>
								<li><a href="#">standard</a></li>
							</ul>
							<div class="post-img ">
								<img src="{{ site.static-image-url }}/magazine/mag10.jpg" alt="">
							</div>
							<div class="post-desk">
								<h4 class="text-uppercase"><a href="#">fully responsive</a></h4>
								<div class="date"><a href="#" class="author">martin smith</a> july 29, 2015</div>
								<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
								<a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
							</div>
						</div>
					</div>
					<!-- article 2 -->

					<!-- article 3 -->
					<div class="col-md-4">
						<div class="post-single">
							<ul class="post-cat">
								<li><a href="#">interface</a></li>
								<li><a href="#">standard</a></li>
							</ul>
							<div class="post-img">
								<img src="{{ site.static-image-url }}/magazine/mag9.jpg" alt="">
							</div>
							<div class="post-desk">
								<h4 class="text-uppercase"><a href="#">light weight theme</a></h4>
								<div class="date">
									<a href="#" class="author">martin smith</a> july 29, 2015
								</div>
								<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
								<a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
							</div>
						</div>
					</div>
					<!-- article 3 -->
				</div>
			</div>
			<!-- 3 articles - 3 columns -->

			<!--3 article block style-->
			<div class="post-grid">
				<div class="col-md-4">
					<div class="post-single">
						<div class="post-img bottom">
							<img src="{{ site.static-image-url }}/post/p1.jpg" alt="">
						</div>
						<div class="post-desk pad-left-less">
							<div class="mid-align">
								<div class="date">july 29, 2015</div>
								<h4 class="text-uppercase">
									<a href="#">quis velit lorem. Nam a neque consectetur commodo</a>
								</h4>
								<ul class="post-cat">
									<li><a href="#">interface</a></li>
									<li><a href="#">standard</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="post-single">
						<div class="post-desk">
							<div class="mid-align">
								<div class="date">july 29, 2015</div>
								<h4 class="text-uppercase">
									<a href="#">Mauris quis tvelit lorem. Nam neque justo suspendisse</a>
								</h4>
								<ul class="post-cat">
									<li><a href="#">interface</a></li>
									<li><a href="#">standard</a></li>
								</ul>
							</div>
						</div>
						<div class="post-img top">
							<img src="{{ site.static-image-url }}/post/p2.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="post-single">
						<div class="post-img bottom">
							<img src="{{ site.static-image-url }}/post/p3.jpg" alt="">
						</div>
						<div class="post-desk ">
							<div class="mid-align">
								<div class="date">july 29, 2015</div>
								<h4 class="text-uppercase">
									<a href="#">commodo  velit lorem. Nam a neque consectetur quis</a>
								</h4>
								<ul class="post-cat">
									<li><a href="#">interface</a></li>
									<li><a href="#">standard</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--3 article block style-->

			<!-- instagram feed -->
			<div class="row">
				<div class="col-md-12">
					<div class="m-bot-20 inline-block">
						<h6 class="text-uppercase heading-border-bottom">Latest Photos on the road</h6>
						<div id="img-carousel">
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/recent-work/1.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/recent-work/2.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/recent-work/3.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/recent-work/4.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/recent-work/5.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/recent-work/6.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/recent-work/7.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/recent-work/8.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/carousel/01.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/carousel/02.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/carousel/03.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/carousel/04.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/carousel/w1.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/carousel/w2.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/carousel/w3.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/app/appimg8a.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/app/appimg8b.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/app/appimg8c.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/app/appimg8d.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/app/appimg8e.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/app/appimg8f.jpg" alt=""></a></div>
							<div class="item"><a href="#"><img src="{{site.static-image-url }}/app/appimg8g.jpg" alt=""></a></div>                        
						</div>
					</div>
				</div>
			</div>
			<!-- instagram feed -->

			<!-- Technology -->
			<div class="row ">
				<div class="col-md-12">
					<h6 class="text-uppercase heading-border-bottom">Most Popular</h6>
				</div>
				<div class="post-list m-top-20">
					<div class="col-md-4">
						<ul class="widget-latest-post">
							<li>
								<div class="thumb">
									<a href="#"><img src="{{ site.static-image-url }}/magazine/mag1.jpg" alt=""></a>
								</div>
								<div class="w-desk">
									<a href="#">Old Father Getup</a>April 25, 2014
								</div>
							</li>
							<li>
								<div class="thumb">
									<a href="#"><img src="{{ site.static-image-url }}/magazine/mag2.jpg" alt=""></a>
								</div>
								<div class="w-desk">
									<a href="#">Represent is the best way</a>March 28, 2014
								</div>
							</li>
							<li>
								<div class="thumb">
									<a href="#"><img src="{{ site.static-image-url }}/magazine/mag3.jpg" alt=""></a>
								</div>
								<div class="w-desk"><a href="#">Alone with the music</a> May 05, 2014
								</div>
							</li>
							<li>
								<div class="thumb">
									<a href="#"><img src="{{ site.static-image-url }}/magazine/mag4.jpg" alt=""></a>
								</div>
								<div class="w-desk">
									<a href="#">Old Father Getup</a>April 25, 2014
								</div>
							</li>
							<li>
								<div class="thumb">
									<a href="#"><img src="{{ site.static-image-url }}/post/post-thumb-2.jpg" alt=""></a>
								</div>
								<div class="w-desk"><a href="#">Represent is the best way</a>March 28, 2014</div>
							</li>
							<li>
								<div class="thumb">
									<a href="#"><img src="{{ site.static-image-url }}/post/post-thumb-3.jpg" alt=""></a>
								</div>
								<div class="w-desk">
									<a href="#">Alone with the music</a>May 05, 2014
								</div>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<div class="post-single">
							<ul class="post-cat">
								<li><a href="#">interface</a></li>
								<li><a href="#">standard</a></li>
							</ul>
							<div class="post-img ">
								<img src="{{ site.static-image-url }}/magazine/mag5.jpg" alt="">
							</div>
							<div class="post-desk">
								<h4 class="text-uppercase"><a href="#">fully responsive</a></h4>
								<div class="date"><a href="#" class="author">martin smith</a> july 29, 2015</div>
								<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
								<a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="post-single">
							<ul class="post-cat">
								<li><a href="#">interface</a></li>
								<li><a href="#">standard</a></li>
							</ul>
							<div class="post-img ">
								<img src="{{ site.static-image-url }}/magazine/mag5.jpg" alt="">
							</div>
							<div class="post-desk">
								<h4 class="text-uppercase"><a href="#">fully responsive</a></h4>
								<div class="date"><a href="#" class="author">martin smith</a> july 29, 2015</div>
								<p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus.</p>
								<a href="#" class="p-read-more">Read More <i class="icon-arrows_slim_right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Technology -->

			<div class="m-top-50 inline-block text-center">
				<a href="#" class="p-read-more">View all articles<i class="icon-arrows_slim_right"></i></a>
			</div>

		</div>
	</div>
</section>