


        <!--hero section-->
        <div id="home-yoga" class="parallax text-center vertical-align banner-box-hawaii height-550">
            <div class="container-mid">
                <div class="container">
                    <div class="banner-title">
                        <h1 class="text-uppercase light-txt"><strong>G'Day Yogis</strong></h1>
                        </h>
                        <p></p>
                        <h2 style="color:white;"><em>By Audrey Cassim</em></h2>
                    </div>
                </div>
            </div>
        </div>
        <!--hero section-->

        <!--body content start-->
        <section class="body-content gray-bg">

            <!--post-->
            <div class="page-content ">
                <div class="container">
                    <div class="row">
                        <!--post style 4 start-->
                        <div class="post-list-aside">
                            <div class="post-single">

                                <div class="col-md-6">
                                    <div class="post-img m-top-50">
                                        <img src="{{ site.static-image-url }}/img-1598.JPG" alt="" style="border-radius:15px; width:400px; height:400px;">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="post-desk">
                                        <div class="m-bot-30">
                                            <span class="post-sub-title text-uppercase">who i am </span>
                                            <h4 class="text-uppercase">
                                                I am a traveler yogi 
                                            </h4>
                                        </div>

                                        <p>
                                            Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
                                        </p>

                                        <ul class="m-bot-30 circle-list inline-block">
                                            <li>
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            </li>
                                            <li>
                                                Adipisci blanditiis delectus deserunt dolorem
                                            </li>
                                            <li>
                                                Impedit inventore itaque iure libero maiores simso.
                                            </li>

                                        </ul>

                                        <div>
                                            <a href="/yoga/#about-audrey" class="btn btn-small btn-dark-solid  "> Read More </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>    
<!--post-->

                        <!--post style 4 end-->
            <!--feature-->
    <section id="offering-audrey" class="body-content">
            <div class="page-content ">
                <div class="container">
                    <!--feature border box start-->
                    <div class="row ">

                        <div class="heading-title border-short-bottom text-center">
                            <h3 class="text-uppercase">What can i do for you ? </h3>
                            <div class="half-txt">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. Nam libero tempore</div>
                        </div>

                        <div class="m-top-50 inline-block">
                            <div class="col-md-4">
                                <div class="featured-item feature-bg-box  text-center">
                                    <div class="icon">
                                       <img src="../static/img/yoga-icon.png" style="width:60px;">
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Yoga instructor</h4>
                                    </div>
                                    <div class="desc">
                                        Ringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="featured-item feature-bg-box  text-center">
                                    <div class="icon">
                                         <img src="../static/img/pineapple-icon.png" style="width:60px;">
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Fitness / health coach</h4>
                                    </div>
                                    <div class="desc">
                                        Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="featured-item feature-bg-box text-center">
                                    <div class="icon">
                                        <img src="../static/img/spine-icon.png" style="width:60px;">
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Cranio Sacral Therapy</h4>
                                    </div>
                                    <div class="desc">
                                        Surrender method  Ringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="featured-item feature-bg-box  text-center">
                                    <div class="icon">
                                        <img src="../static/img/earth-icon.png" style="width:60px;">
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Retreat</h4>
                                    </div>
                                    <div class="desc">
                                        Comming soon Ringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="featured-item feature-bg-box  text-center">
                                    <div class="icon">
                                        <img src="../static/img/webdev-icon.png" style="width:60px;">
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Web developpment</h4>
                                    </div>
                                    <div class="desc">
                                        Ringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4" >
                                <div class="featured-item feature-bg-box  text-center">
                                    <div class="icon">
                                        <img src="../static/img/plane-icon.png" style="width:60px;">
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Travel Adivisor</h4>
                                    </div>
                                    <div class="desc">
                                        Ringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                            </div>
        
        
                        </div>
                    </div>
                    <!--feature border box end-->
                </div>
            </div>
            <!--feature-->
        </section>
            
            <!--post-->

            <!--post-->
            
            <!--post-->


            <!--fun factor-->
            
            <!--fun factor-->

            <!--post-->
            
            <!--post-->



        </section>
        <!--body content end-->
