


        <!--hero section-->
        <div id="home-yoga" class="parallax text-center vertical-align banner-box-hawaii height-550">
            <div class="container-mid">
                <div class="container">
                    <div class="banner-title">
                        <h1 class="text-uppercase light-txt"><strong>G'Day Yogis</strong></h1>
                        </h>
                        <p></p>
                        <h2 style="color:white;"><em>By Audrey Cassim</em></h2>
                    </div>
                </div>
            </div>
        </div>

        </section>
        <!--body content end-->
