   <section id="offering-audrey" class="body-content">
            <div class="page-content ">
                <div class="container">
                    <!--feature border box start-->
                    <div class="row ">

                        <div class="heading-title border-short-bottom text-center">
                            <h3 class="text-uppercase">What can i do for you ? </h3>
                            <div class="half-txt">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. Nam libero tempore</div>
                        </div>

                        <div class="m-top-50 inline-block">
                            <div class="col-md-4">
                                <div class="featured-item feature-bg-box  text-center">
                                    <div class="icon">
                                       <img src="../static/img/yoga-icon.png" style="width:60px;">
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Yoga instructor</h4>
                                    </div>
                                    <div class="desc">
                                        Ringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="featured-item feature-bg-box  text-center">
                                    <div class="icon">
                                         <img src="../static/img/pineapple-icon.png" style="width:60px;">
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Fitness / health coach</h4>
                                    </div>
                                    <div class="desc">
                                        Personal session to learn how to be savvy, sexy and heathy :) 
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="featured-item feature-bg-box text-center">
                                    <div class="icon">
                                        <img src="../static/img/spine-icon.png" style="width:60px;">
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Cranio Sacral Therapy</h4>
                                    </div>
                                    <div class="desc">
                                        Certified by Surrender method. I can offer you a deep relaxation combine differents traditionals technics. 
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="featured-item feature-bg-box  text-center">
                                    <div class="icon">
                                        <img src="../static/img/earth-icon.png" style="width:60px;">
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Retreat</h4>
                                    </div>
                                    <div class="desc">
                                        Comming soon. Want to be a digital nomad and learn how to code, join us with G'Day Digital Nomads for 10 days coding and yoga. 

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4" >
                                <div class="featured-item feature-bg-box  text-center">
                                    <div class="icon">
                                        <img src="../static/img/webdev-icon.png" style="width:60px;">
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Web developpment</h4>
                                    </div>
                                    <div class="desc">
                                        Junior web developper, html css and Javascript  
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4" >
                                <div class="featured-item feature-bg-box  text-center">
                                    <div class="icon">
                                        <img src="../static/img/plane-icon.png" style="width:60px;">
                                    </div>
                                    <div class="title text-uppercase">
                                        <h4>Travel Adivisor</h4>
                                    </div>
                                    <div class="desc">
                                        Ringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                    </div>
                                </div>
                            </div>
        
        
                        </div>
                    </div>
                    <!--feature border box end-->
                </div>
            </div>
            <!--feature-->
        </section> 





<section class="body-content" >
   

    <!--feature -->
    <div class="page-content dark-feature dark-feature-parallax" id="yoga-instructor">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title-alt text-center featured-item">
                        <div class="icon bottom-border theme-color">
                           <img src="../static/img/post/meditation.png" Style="width:auto; height:100px;">
                        </div>
                        <div class="title text-uppercase">
                            <h3 class="text-uppercase theme-color">Yoga classes</h3>
                        </div>
                        <p class="half-txt p-bot-50">Om śāntiḥ śāntiḥ śāntiḥ</p>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-6">         
                    <div class="featured-item feature-outline m-bot-20 wow fadeInLeft">
                        <div class="icon">
                             <img src="../static/img/rys-200.png">
                        </div>
                        <div class="title-pink">
                            <h4 style="color:#818387;">200 hours YTT certified by Alliance Yoga</h4>
                        </div>
                         <div class="desc"> Training followed with Nepal Yoga Academy, 2017</div>
                    </div>    
                    <div class="featured-item feature-outline m-bot-20 wow fadeInLeft">
                        <div class="icon">
                            <img src="../static/img/earth-icon-black.png">
                        </div>
                        <div class="title-pink">
                            <h4>10 years practise all around the world</h4>
                        </div>
                         <div class="desc">France, England, Spain, India, Cambodia, Vietnam, Australia, USA...</div>
                    </div>                        
                    <div class="featured-item feature-outline m-bot-40 wow fadeInLeft">
                        <div class="icon">
                            <img src="../static/img/yoga-pose-icon.png">
                        </div>
                        <div class="title-pink">
                            <h4>Hatha Yoga, Ashtanga Yoga</h4>
                        </div>
                        <div class="desc"></div>
                    </div>    
                    <div class="featured-item feature-outline m-bot-40 wow fadeInLeft">
                        <div class="icon">
                           <img src="../static/img/om-logo.png">
                        </div>
                        <div class="title-pink">
                            <h4>Pranayama(breathing), Dhyan (meditations)</h4>
                        </div>
                        <div class="desc">Mantra singing, Vipassana</div>
                    </div>                                                      
                </div>
                <div class="col-md-6">
                    <div class="responsive-img wow fadeInRightBig">
                        <img src="{{ site.static-image-url }}/img-1598.jpg" style="width:400px; height:400px; border-radius:20px;"alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--feature-->

    <!--feature-->
    <div class="page-content" id="service-app">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title-alt text-center featured-item">
                        <div class="icon bottom-border theme-color">
                            <i class="icon-mobile"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h3 class="theme-color">App Development</h4>
                        </div>
                        <p class="half-txt p-bot-10">
                            We create beautiful and effective iPhone & Android apps for startups and enterprise clients.<br />We can also help with user acquisition and digital marketing.
                        </p>
                        <!--<div class="text-center">
                            <div class="featured-item m-top-50">
                                <a href="#" class="btn btn-medium btn-theme-color"> Find out more </a>
                            </div>             
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- feature border box start -->
                <div class="feature-box-grid">

                    <div class="col-md-4 text-right p-top-80">
                        <div class="featured-item feature-outline right m-bot-80 wow fadeInLeft">
                            <div class="icon">
                                <i class=" icon-mobile"></i>
                            </div>
                            <div class="title">
                                <h4>iPhone Android Windows</h4>
                            </div>
                            <div class="desc">
                                We provide an App strategy that will reach more mobiles by targeting all OS platforms.
                            </div>
                        </div>
                        <div class="featured-item feature-outline right m-bot-80 wow fadeInLeft">
                            <div class="icon ">
                                <i class=" fa fa-code"></i>
                            </div>
                            <div class="title">
                                <h4>Native Hybrid</h4>
                            </div>
                            <div class="desc">
                                Native code for integration of phone capabilities, or more portable hybrid apps.
                            </div>
                        </div>
                        <div class="featured-item feature-outline right wow fadeInLeft">
                            <div class="icon ">
                                <i class=" icon-computer_imac_thick"></i>
                            </div>
                            <div class="title">
                                <h4>Simple UX Design</h4>
                            </div>
                            <div class="desc">
                                From wireframe Prototype to design, we ensure simple and beautiful UX design for easy use by the end-user.   
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                    <div id="app-carousel" class="owl-carousel owl-theme">
                        <div>
                            <img src="{{ site.static-image-url }}/services/app-1.png" alt=""/>
                        </div>
                        <div>
                            <img src="{{ site.static-image-url }}/services/app-2.png" alt=""/>
                        </div>
                        <div>
                            <img src="{{ site.static-image-url }}/services/appimg1.png" alt=""/>
                        </div>                                                                        
                        <div>
                            <img src="{{ site.static-image-url }}/services/app-1.png" alt=""/>
                        </div>
                        <div>
                            <img src="{{ site.static-image-url }}/services/app-2.png" alt=""/>
                        </div>                        
                        <div>
                            <img src="{{ site.static-image-url }}/services/appimg1.png" alt=""/>
                        </div>                                                
                    </div>

                    </div>
                    <div class="col-md-4 p-top-80">
                        <div class="featured-item feature-outline m-bot-80 wow fadeInRight">
                            <div class="icon">
                                <i class=" fa fa-code-fork"></i>
                            </div>
                            <div class="title">
                                <h4>Full Development Cycle</h4>
                            </div>
                            <div class="desc">
                                Beginning to End - Wireframe, prototype, design, beta-release (user feedback), release.  
                            </div>
                        </div>
                        <div class="featured-item feature-outline  m-bot-80 wow fadeInRight">
                            <div class="icon ">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="title">
                                <h4>Usage Analytics</h4>
                            </div>
                            <div class="desc">
                                We gather usage statistics on your App to ensure a continually imporving product.
                            </div>
                        </div>
                        <div class="featured-item feature-outline wow fadeInRight">
                            <div class="icon ">
                                <i class=" fa fa-play-circle"></i>
                            </div>
                            <div class="title">
                                <h4>Digital Marketing</h4>
                            </div>
                            <div class="desc">
                                We can also help with Client Acquisition and Digital Marketing to get the user base you want for your App.
                            </div>
                        </div>
                    </div>
                </div>
                <!--feature border box end-->
            </div>

        </div>
    </div>
    <!--feature-->

    <!--feature-->
    <div class="page-content dark-feature dark-feature-parallax" id="service-core">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title-alt text-center featured-item">
                        <div class="icon bottom-border theme-color">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h3 class="text-uppercase theme-color">Cranio Sacral Therapy</h3>
                        </div>
                        <p class="half-txt p-bot-50">Deep relaxation base on different holistic traditions</p>
                    </div>
                </div>
            </div>               
            <div class="row">
                <div class="col-md-6">
                    <div class="responsive-img wow fadeInLeftBig" style="float: right;">
                        <img src="{{ site.static-image-url }}/services/programming.png" alt=""/>
                    </div>
                </div>            
                <div class="col-md-6 ">
                    <div class="featured-item feature-outline m-bot-40 wow fadeInRight">
                        <div class="icon">
                            <i class="icon-software_layers2"></i>
                        </div>
                        <div class="title">
                            <h4>Certified by Surrender Method</h4>
                        </div>
                        <div class="desc">The skull breaths</div>
                    </div>                                  
                    <div class="featured-item feature-outline m-bot-40 wow fadeInRight">
                        <div class="icon">
                            <i class=" fa fa-code"></i>
                        </div>
                        <div class="title">
                            <h4>CORE Languages</h4>
                        </div>
                        <div class="desc">Java, C++, C, .NET, JavaScript, Python, and more.</div>
                    </div>                         
                    <div class="featured-item feature-outline m-bot-40 wow fadeInRight">
                        <div class="icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="title">
                            <h4>Clean Code / Best Practices</h4>
                        </div>
                        <div class="desc">Quality-Assured Best-Practice code within AGILE Methodologies.</div>
                    </div>                        
                    <div class="featured-item feature-outline wow fadeInRight">
                        <div class="icon">
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="title">
                            <h4>Specialist In</h4>
                        </div>
                        <div class="desc">Payment Gateways, Trading & Settlement Platforms, Quant-Algos, Blockchains, Event-Driven Architecture, Low-Latency / Sub-millisec Apps, Peer-2-Peer, Machine-Learning, Distributed Computing.</div>
                    </div>         
                    <!--<div class="featured-item feature-outline m-top-20 wow fadeInRight">
                        <a href="#" class="btn btn-medium btn-theme-border-color"> Find out more </a>
                    </div>-->                                                                
                </div>
            </div>
            </div>
        </div>
    </div>
    <!--feature-->

    <!--feature-->
    <div class="page-content" id="service-cloud">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title-alt text-center featured-item">
                        <div class="icon bottom-border theme-color">
                            <i class="icon-cloud"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h3 class="theme-color">Cloud Services</h3>
                        </div>
                        <p class="half-txt p-bot-10">

                            Experts in Cloud Infrastructure, whether it be Cloud Integration, Cloud Migration or Cloud Management, using all major IAAS & PAAS Platforms.
                        </p>
                    </div>                       
                </div>             
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="responsive-img fit-img wow fadeInLeft">
                        <img src="{{ site.static-image-url }}/services/cloud-services.jpg" alt=""/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="featured-item feature-outline m-bot-40 wow fadeInRight">
                        <div class="icon">
                            <i class="icon-cloud"></i>
                        </div>                    
                        <div class="title">
                            <h4>Cloud Experts</h4>
                        </div>
                        <div class="desc">
                            One-stop shop for moving your Web sites, applications and data to the cloud.
                        </div>
                    </div>
                    <div class="featured-item feature-outline m-bot-40 wow fadeInRight">
                        <div class="icon">
                            <i class="fa fa-plug"></i>
                        </div>                          
                        <div class="title">
                            <h4>DevOps Simplified</h4>
                        </div>
                        <div class="desc">
                            Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Fringilla augue at maximus
                            vestibulum. Nam pulvinar vitae.
                        </div>
                    </div>
                    <div class="featured-item feature-outline m-bot-40 wow fadeInRight">
                        <div class="icon">
                            <i class="icon-key"></i>
                        </div>                          
                        <div class="title">
                            <h4>TURNKey Solutions</h4>
                        </div>
                        <div class="desc">
                            Augue at maximus Pellentesque eu quam sem, ac malesuada leo sem quam pellente. vestibulum.
                            Nam pulvinar vitae neque et porttitor. 
                        </div>
                    </div>
                    <div class="featured-item feature-outline wow fadeInRight">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>                        
                        <div class="title">
                            <h4>Scalable / Deployment in Minutes </h4>
                        </div>
                        <div class="desc">
                            Augue at maximus Pellentesque eu quam sem, ac malesuada leo sem quam pellente. vestibulum.
                            Nam pulvinar vitae neque et porttitor. 
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
    <!--feature-->  


</section>

