   <!--page title start-->
        <section class="page-title about-me-background dark" id="about-me">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <h1 class="text-uppercase theme-color">Jordan Rancie</h1>
                        <span class="text-uppercase"> Information Technology Expert </span>
                        <div class="m-top-30">
                            <a href="/staff/jordan-rancie.html" class="btn btn-medium btn-rounded btn-theme-border-color  "> FULL BIOGRAPHY </a>
                            <a href="/#contact" class="btn btn-medium btn-rounded btn-theme-border-color  "> CV ENQUIRY</a>
                        </div>
                    </div>
                </div>
            </div>
            <span class="text-uppercase" style="position: absolute; bottom: 20px; left: 20px;">Photo: Santuary of Truth, Thailand</span>
        </section>
        <!--page title end--

        <!--body content start-->
        <section class="body-content">

            <div class="post-list-aside left-side">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="responsive-img fit-img p-top-100 m-top-20" style="padding-left: 20px;">
                                <img src="{{ site.static-image-url }}/about/guitar.jpg" alt=""/>
                            </div>
                        </div>                    
                        <div class="col-md-6">
                            <div class="post-desk">
                                <div class="m-bot-30">
                                    <span class="post-sub-title text-uppercase">who am i</span>
                                    <h4 class="text-uppercase">
                                        I am a passionate IT Enthusiast and Entrepreneur
                                    </h4>
                                </div>

                                <p>
                                    With 15 years experience in the IT Industry across many sectors working in many high-pressure jobs I have come to the understanding that passion for your projects and a good work-life balance are the two inredients for a thriving business. I enjoy helping employers and employees alike develop more effective workplaces & more lucrative work lifestyles as businesses shed the old 9am-5pm mentality to become more productive, create more enjoyment and self-fulfilment for everyone.
                                </p>
                                <span class="post-sub-title text-uppercase m-bot-20"><b>Things I enjoy</b></span>
                                <ul class="m-bot-30 circle-list inline-block">
                                    <li>Help new businesses grow exciting ideas.</li>
                                    <li>New socially conscious apps that can become a catalyst for postive change.</li>
                                    <li>Diving into really interesting technical projects.</li>
                                    <li>Open Source - The IT Nerds way of collaboration.</li>                                    
                                    <li>Guitar. Food.</li>                                                                          
                                </ul>

                                <div>
                                    <a href="/staff/jordan-rancie.html" class="btn btn-small btn-rounded btn-theme-color  "> Read More </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>