		<!--body content start-->
		<section class="body-content p-top-10" id="featured-apps">

			<div class="page-content-sm p-top-10">

				<!--parallax-->
				<div class="parallax-inner parallax-6" id="featured-apps">
					<div class="container">
						<div class="row">
							<div class="heading-title-alt text-center m-bot-0 inline-block">
								<span class="heading-sub-title text-uppercase theme-color">awesome parallax effect</span>
								<h1 class="text-uppercase light-txt">Art is knowing which ones to keep</h1>

								<div class="m-top-50 inline-block">
									<a href="#" class="btn btn-medium  btn-theme-color light-hover"> Hang with us</a>
								</div>
							</div>

						</div>
					</div>
				</div>
				<!--parallax-->

			</div>

			<!-- apps intro -->
			<div class="post-list-aside left-side post-p9">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-6">
							<div class="post-desk">
								<div class="m-bot-30">
									<span class="post-sub-title text-uppercase">who am i</span>
									<h4 class="text-uppercase">
										i am a hardcore web developer
									</h4>
								</div>

								<p>
									Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
								</p>

								<ul class="m-bot-30 circle-list inline-block">
									<li>
										Lorem ipsum dolor sit amet, consectetur adipisicing elit.
									</li>
									<li>
										Adipisci blanditiis delectus deserunt dolorem
									</li>
									<li>
										Impedit inventore itaque iure libero maiores simso.
									</li>

								</ul>

								<div>
									<a href="#" class="btn btn-small btn-theme-color "> Read More </a>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- apps intro -->

			<!--feature-->
			<div class="page-content gray-bg relative" id="one-vote">
				<div class="container">
					<div class="row">
						<div class="col-md-6 ">
							<div class="heading-title">
								<h3 class="text-uppercase">ONE Vote</h3>
								<p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
							</div>

							<div class="featured-item feature-outline m-bot-80">
								<div class="icon">
									<i class=" icon-documents"></i>
								</div>
								<div class="title text-uppercase">
									<h4>text documentation</h4>
								</div>
								<div class="desc">
									Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi.
								</div>
							</div>
							<div class="featured-item feature-outline ">
								<div class="icon ">
									<i class=" icon-video"></i>
								</div>
								<div class="title text-uppercase">
									<h4>video documentation</h4>
								</div>
								<div class="desc">
									Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. sed nisi eleifend.
								</div>
							</div>

                                <div class="app-icon m-top-50 m-bot-50 inline-block">
                                    <i class="fa fa-apple"></i>
                                    <i class="fa fa-android"></i>
                                    <i class="fa fa-windows"></i>
                                </div>

                                <a href="#" class="btn btn-medium btn-theme-color  "> Purchase Now </a>
                                <a href="#" class="btn btn-medium btn-theme-border-color  "> View All </a>
						</div>
						<div class="col-md-6">
							<div class="responsive-img  ">
								<img src="{{ site.static-image-url }}/app/appimg4.png" alt="" />
							</div>
							<!--image carousel
							<div id="app-carousel" class="owl-carousel owl-theme">
								<div class="item">
									<a href="#">
										<img src="{{ site.static-image-url }}/carousel/01.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="#">
										<img src="{{ site.static-image-url }}/carousel/02.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="#">
										<img src="{{ site.static-image-url }}/carousel/03.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="#">
										<img src="{{ site.static-image-url }}/carousel/04.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="#">
										<img src="{{ site.static-image-url }}/carousel/03.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="#">
									<img src="{{ site.static-image-url }}/carousel/02.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="#">
										<img src="{{ site.static-image-url }}/carousel/01.jpg" alt="Image">
									</a>
								</div>
								<div class="item">
									<a href="#">
										<img src="{{ site.static-image-url }}/carousel/04.jpg" alt="Image">
									</a>
								</div>
							</div>
							<!--image carousel-->						
						</div>
					</div>
				</div>
			</div>
			<!--feature-->

			<!--feature-->
			<div class="page-content p-bot-0 dark-feature dark-feature-parallax" id="link-n-sync">
				<div class="container">
					<div class="row">
						<!--feature border box start-->
						<div class="feature-box-grid">

							<div class="heading-title text-center">
								<h3 class="text-uppercase">Link 'n' Sync</h3>
								<p class="half-txt p-top-30">Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
							</div>

							<div class="col-md-4 text-right p-top-80">
								<div class="featured-item feature-outline right m-bot-80">
									<div class="icon">
										<i class=" icon-mobile"></i>
									</div>
									<div class="title text-uppercase">
										<h4>responsive design</h4>
									</div>
									<div class="desc">
										Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi.
									</div>
								</div>
								<div class="featured-item feature-outline right m-bot-80">
									<div class="icon ">
										<i class=" icon-browser2"></i>
									</div>
									<div class="title text-uppercase">
										<h4>clean code</h4>
									</div>
									<div class="desc">
										Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. sed nisi eleifend.
									</div>
								</div>
								<div class="featured-item feature-outline right">
									<div class="icon ">
										<i class=" icon-laptop2"></i>
									</div>
									<div class="title text-uppercase">
										<h4>seamless markup </h4>
									</div>
									<div class="desc">
										Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et. Praesent sed nisi eleifend.
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="responsive-img">
									<img src="{{ site.static-image-url }}/app/appimg1.png" alt="" />
								</div>
							</div>
							<div class="col-md-4 p-top-80">
								<div class="featured-item feature-outline m-bot-80">
									<div class="icon">
										<i class=" icon-puzzle"></i>
									</div>
									<div class="title text-uppercase">
										<h4>Huge shortcode</h4>
									</div>
									<div class="desc">
										Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi.
									</div>
								</div>
								<div class="featured-item feature-outline  m-bot-80">
									<div class="icon ">
										<i class=" icon-layers"></i>
									</div>
									<div class="title text-uppercase">
										<h4>unique demo</h4>
									</div>
									<div class="desc">
										Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. sed nisi eleifend.
									</div>
								</div>
								<div class="featured-item feature-outline">
									<div class="icon ">
										<i class=" icon-basic_clock"></i>
									</div>
									<div class="title text-uppercase">
										<h4>24/7 support </h4>
									</div>
									<div class="desc">
										Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et. Praesent sed nisi eleifend.
									</div>
								</div>
							</div>
							<div class="heading-title text-center">
                                <div class="app-icon m-top-50 m-bot-0 inline-block">
                                    <i class="fa fa-apple"></i>
                                    <i class="fa fa-android"></i>
                                    <i class="fa fa-windows"></i>
									<a href="#" class="btn btn-medium btn-theme-color  " style="margin-left:50px;"> Purchase Now </a>
                                	<a href="#" class="btn btn-medium btn-theme-border-color  "> View All </a>
                                </div>
							</div>
						</div>
						<!--feature border box end-->
					</div>
				</div>
			</div>
			<!--feature-->

			<!--feature  relative p-bot-0 -->
			<div class="page-content" id="one-tube">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<div class="responsive-img  ">
								<img src="{{ site.static-image-url }}/app/appimg4.png" alt="" />
							</div>
						</div>

						<div class="col-md-6 ">
							<div class="heading-title-alt m-top-50 inline-block">
								<h3 class="text-uppercase">ONE Tube</h3>
							</div>
							<div class="">
								<p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>

								<ul class="m-bot-30 circle-list">
									<li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
									<li>Adipisci blanditiis delectus deserunt dolorem</li>
									<li>Impedit inventore itaque iure libero maiores simso.</li>
								</ul>
							</div>


                                <div class="app-icon m-top-50 m-bot-50 inline-block">
                                    <i class="fa fa-apple"></i>
                                    <i class="fa fa-android"></i>
                                    <i class="fa fa-windows"></i>
                                </div>

                                <a href="#" class="btn btn-medium btn-theme-color  "> Purchase Now </a>
                                <a href="#" class="btn btn-medium btn-theme-border-color  "> View All </a>

						</div>

					</div>
				</div>
			</div>
			<!--feature-->           

	    	<!--feature-->
            <div class="page-content p-bot-0 dark-feature" id="p2p-smart-energy">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 ">
							<div class="heading-title">
								<h3 class="text-uppercase">Peer 2 Peer Smart Enegry Grids</h3>
								<p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>
							</div>

							<div class="featured-item feature-outline m-bot-80">
								<div class="icon"><i class=" icon-pictures"></i></div>
									<div class="title text-uppercase"><h4>Peer-2-Peer Smart Energy</h4>
								</div>
								<div class="desc">Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi.</div>
							</div>
							<div class="featured-item feature-outline ">
								<div class="icon "><i class=" icon-video"></i></div>
								<div class="title text-uppercase"><h4>video parallax</h4></div>
								<div class="desc">Fringilla augue at maximus vestibulum</div>
							</div>                            
                        </div>

                        <div class="col-md-6">
                            <div class="responsive-img  app-img-bot">
								<img src="{{ site.static-image-url }}/app/appimg2.png" alt="" />
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--feature-->

			<!--feature-->
			<div class="page-content-sm">
				<div class="container">
					<div class="row">

						<div class="col-md-6">
							<!--<div class="responsive-img  ">
								<img src="{{ site.static-image-url }}/app/appimg3.png" alt="" />
							</div> -->
							<div class="responsive-img">
							    <!--<img src="{{ site.static-image-url }}/app/appimg7.png" alt="">-->
							    <!--<img src="{{ site.static-image-url }}/app/appimg3.png" alt="" />-->
							    <img src="{{ site.static-image-url }}/app/appimg4.png" alt="" />
							</div>


						</div>
						<div class="col-md-6 ">
                            <div class="heading-title-alt m-top-50 inline-block">
                                <h3 class="text-uppercase">A second heading here</h3>
                            </div>
                            <div class="">
                                <p>Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.</p>

                                <div class="app-icon m-bot-100 inline-block">
                                    <i class="fa fa-apple"></i>
                                    <i class="fa fa-android"></i>
                                    <i class="fa fa-windows"></i>
                                </div>

                                <a href="#" class="btn btn-medium btn-theme-color  "> Purchase Now </a>
                                <a href="#" class="btn btn-medium btn-theme-border-color  "> View All </a>
                            </div>
						</div>

					</div>
				</div>
			</div>
			<!--feature-->

  			<!--feature-->
            <div class="page-content dark-feature playful-feature-parallax" id="sustainable-living-platform">
                <div class="container">
                    <div class="row">
                        <div class="heading-title text-center ">
                            <h3 class="text-uppercase">Sustainable Living Platform</h3>
                            <p class="half-txt p-top-30">Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.</p>
                        </div>
                        <div class="col-md-6">
                            <div class="responsive-img fit-img wow fadeInLeft">
                                <img src="{{ site.static-image-url }}/tab-1.png" alt="" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="featured-item text-left m-bot-50 wow fadeInRight">
                                <div class="number">
                                    01
                                </div>
                                <div class="title text-uppercase">
                                    <h4>Mega Menu</h4>
                                </div>
                                <div class="desc">
                                    Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente.
                                </div>
                            </div>
                            <div class="featured-item text-left m-bot-50 wow fadeInRight">
                                <div class="number">
                                    02
                                </div>
                                <div class="title text-uppercase">
                                    <h4>Unlimited Portfolio Grid</h4>
                                </div>
                                <div class="desc">
                                    Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                </div>
                            </div>
                            <div class="featured-item text-left wow fadeInRight">
                                <div class="number">
                                    03
                                </div>
                                <div class="title text-uppercase">
                                    <h4>Huge Shortcode</h4>
                                </div>
                                <div class="desc">
                                    Augue at maximus Pellentesque eu quam sem, ac malesuada leo sem quam pellente. vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
                                </div>
                            </div>
                            <div class="m-top-50 inline-block">
                                <a href="#" class="btn btn-medium btn-theme-color  "> Purchase Now </a>
                                <a href="#" class="btn btn-medium btn-light-border  "> View All </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--feature-->
			
            <!--feature-->
            <div class="page-content" id="travellers-wallet">
                <div class="container">
                    <div class="row">
						<div class="heading-title text-center ">
                            <h3>The Travellers Wallet</h3>
                            <p class="half-txt p-top-30">Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.</p>
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-uppercase m-top-0">
                                unlimited possibilities with lots
                                of new feature
                            </h3>
                            <p>
                                Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets..
                            </p>

                                <div class="app-icon m-top-50 m-bot-50 inline-block">
                                    <i class="fa fa-apple"></i>
                                    <i class="fa fa-android"></i>
                                    <i class="fa fa-windows"></i>
                                </div>

                                <a href="#" class="btn btn-medium btn-theme-color  "> Purchase Now </a>
                                <a href="#" class="btn btn-medium btn-theme-border-color  "> View All </a>
                        </div>
                        <div class="col-md-6">
                            <div class="embed-responsive- vdo-wrap- embed-responsive embed-responsive-4by3">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/1wXIAzSMiIw" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--feature-->


		</section>