 

<section class="body-content" id="services">
   
   
        <!--hero section -->
        <div id="owl-slider" class="owl-carousel vertical-align service-slider" style="height: 600px;">

                <div class="container-fluid services-slider-3">
                    <div class="container-mid">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="banner-title">
                                        <h1 class="text-uppercase m-bot-10 inline-block">Are you a Startup?</h1>
                                        <h3 class="text-uppercase m-bot-30 inline-block">We love new innovative ideas</h3>
                                        <div class="desc m-top-30">If you are a new business with limited resources, talk to us about how we can help with $0 startup costs.</div>
                                        <div class="m-top-50 inline-block">
                                            <a href="#" class="btn btn-medium btn-theme-color wow fadeInLeft"> Find out how </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid services-slider-2">
                    <div class="container-mid">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="banner-title">
                                        <h1 class="text-uppercase m-bot-10 inline-block">Free Consultation</h1>
                                        <h3 class="text-uppercase m-bot-30 inline-block">We love networking</h3>
                                        <div class="desc m-top-30">Fill in our 2-minute survey for a free 30 minute consultation.</div>
                                        <div class="m-top-50 inline-block">
                                            <a href="#" class="btn btn-medium btn-theme-color wow fadeInLeft"> View Survey </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>            
                <div class="container-fluid services-slider-1">
                    <div class="container-mid">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="banner-title">
                                        <h1 class="text-uppercase m-bot-10 inline-block">Free Consultation</h1>
                                        <h3 class="text-uppercase m-bot-30 inline-block">We love networking</h3>
                                        <div class="desc m-top-30">Fill in our 2-minute survey for a free 30 minute consultation.</div>
                                        <div class="m-top-50 inline-block">
                                            <a href="#" class="btn btn-medium btn-theme-color wow fadeInLeft"> View Survey </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--
                <div class="container-fluid services-slider-3">
                    <div class="container-mid">
                        <div class="container">
                            <div class="hero-text">
                                <h1 class="text-uppercase ls-20">MASSIVE <span class="typist-element typist-blink" data-typist="IDEA,COLLECTION">STUDIO</span></h1>
                                <h3 class="text-uppercase">WE LOVE TO DESIGN THE IMPOSSIBLE</h3>
                                <a href="#" class="btn btn-small btn-dark-border  "> Discover now</a>
                                <a href="#" class="btn btn-small btn-dark-border  "> Purchase massive</a>
                            </div>
                        </div>
                    </div>
                </div> -->

        </div>
        <!--hero section-->

    <!-- box of services -->
    <div class="page-content">
        <div class="container">
            <!--feature box center align start-->
            <div class="row">
                <div class="feature-box-grid">
                    <div class="heading-title-alt border-short-bottom text-center ">
                        <h3 class="text-uppercase">Our Services</h3>
                        <p class="half-txt p-bot-100">We cover the breadth and depth of all aspects of web and software development.
                        Our services transform enterprises by helping them create, build, enhance & maintain web, mobile and infrastructure applications.</p>
                    </div>

                    <a href="#service-web">
                        <div class="col-md-4">
                            <div class="featured-item feature-bg-box border-box text-center">
                                <div class="icon bottom-border theme-color">
                                    <i class="icon-computer_monitor"></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>Web Dev</h4>
                                </div>
                                <div class="desc p-bot-50">
                                    Innovative web solutions to deliver unparalleled high performance, to create transformative web experiences.
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="#service-app">
                        <div class="col-md-4">
                            <div class="featured-item feature-bg-box border-box text-center">
                                <div class="icon bottom-border theme-color">
                                    <i class="icon-mobile"></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>App Dev</h4>
                                </div>
                                <div class="desc p-bot-50">
                                    We create engaging mobile experiences. We take care of wireframing, UX design and development for your big ideas.
                                </div>
                            </div>
                        </div>
                    </a>

                    <a href="#service-core">
                        <div class="col-md-4">
                            <div class="featured-item feature-bg-box border-box text-center m-bot-80">
                                <div class="icon bottom-border theme-color">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>Core Dev</h4>
                                </div>
                                <div class="desc p-bot-50">
                                    All aspects of full-stack & core application development using major programming languages, within Agile methodologies.
                                    
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="feature-box-grid">
                    <a href="#service-cloud-bigdata">                
                        <div class="col-md-4">
                            <div class="featured-item feature-bg-box border-box text-center">
                                <div class="icon bottom-border theme-color">
                                    <i class="icon-cloud"></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>Cloud / Big Data</h4>
                                </div>
                                <div class="desc p-bot-50">
                                    Services in Cloud Infrastructure using major IAAS & PAAS Platforms. Big Data experts for risk-management, migration, integration,  operation & optimisation.
                                </div>
                            </div>
                        </div>
                    </a>                
                    <a href="#service-enterprise-architecture">                
                        <div class="col-md-4">
                            <div class="featured-item feature-bg-box border-box text-center">
                                <div class="icon bottom-border theme-color">
                                    <i class="icon-circle-compass"></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>Enterprise Architecture</h4>
                                </div>
                                <div class="desc p-bot-50">
                                    Best-practices architecture and development for Enterprise Application ecosystems, creating custom and effective solutions for your business.
                                </div>
                            </div>
                        </div>
                    </a>
                    <a href="#service-project-management">                
                        <div class="col-md-4">
                            <div class="featured-item feature-bg-box border-box text-center">
                                <div class="icon bottom-border theme-color">
                                    <i class="icon-basic_watch"><!-- icon-ecommerce_guarani --></i>
                                </div>
                                <div class="title text-uppercase">
                                    <h4>Project Management</h4>
                                </div>
                                <div class="desc p-bot-50">
                                    We can manage your goals from inception to completion, using quality control & Agile methodoligies in internal and external (offshore) capacities.
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--feature box center align end-->
        </div>
    </div>

    <!--feature -->
    <div class="page-content dark-feature dark-feature-parallax" id="service-web">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title-alt text-center featured-item">
                        <div class="icon bottom-border theme-color">
                            <i class="icon-mobile"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h3 class="text-uppercase theme-color">Web Design <b>&amp;</b> Development</h3>
                        </div>
                        <p class="half-txt p-bot-50">Beautiful high performance cross-platform responsive websites.</p>
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-md-6">         
                    <div class="featured-item feature-outline m-bot-20 wow fadeInLeft">
                        <div class="icon">
                            <i class=" icon-mobile"></i>
                        </div>
                        <div class="title">
                            <h4>Fully Responsive Effective UX Designs</h4>
                        </div>
                    </div>    
                    <div class="featured-item feature-outline m-bot-20 wow fadeInLeft">
                        <div class="icon">
                            <i class="fa fa-html5"></i>
                        </div>
                        <div class="title">
                            <h4>HTML5 CSS3 - Strict Compliance</h4>
                        </div>
                    </div>                        
                    <div class="featured-item feature-outline m-bot-40 wow fadeInLeft">
                        <div class="icon">
                            <i class=" fa fa-code"></i>
                        </div>
                        <div class="title">
                            <h4>Javascript APIs</h4>
                        </div>
                        <div class="desc">Create a truly interactive user experience. JQuery, AngularJS, NodeJS, React, and many more. Or create customised APIs.</div>
                    </div>    
                    <div class="featured-item feature-outline m-bot-40 wow fadeInLeft">
                        <div class="icon">
                            <i class=" icon-key"></i>
                        </div>
                        <div class="title">
                            <h4>CMS / TURNKey Solutions</h4>
                        </div>
                        <div class="desc">Wordpress, Drupal, Adobe EM, Jekyll, and many more.</div>
                    </div>                                                      
                </div>
                <div class="col-md-6">
                    <div class="responsive-img wow fadeInRightBig">
                        <img src="{{ site.static-image-url }}/services/web-design.png" alt=""/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--feature-->

    <!--feature-->
    <div class="page-content" id="service-app">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title-alt text-center featured-item">
                        <div class="icon bottom-border theme-color">
                            <i class="icon-mobile"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h3 class="theme-color">App Development</h4>
                        </div>
                        <p class="half-txt p-bot-10">
                            We create beautiful and effective iPhone & Android apps for startups and enterprise clients.<br />We can also help with user acquisition and digital marketing.
                        </p>
                        <!--<div class="text-center">
                            <div class="featured-item m-top-50">
                                <a href="#" class="btn btn-medium btn-theme-color"> Find out more </a>
                            </div>             
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- feature border box start -->
                <div class="feature-box-grid">

                    <div class="col-md-4 text-right p-top-80">
                        <div class="featured-item feature-outline right m-bot-80 wow fadeInLeft">
                            <div class="icon">
                                <i class=" icon-mobile"></i>
                            </div>
                            <div class="title">
                                <h4>iPhone Android Windows</h4>
                            </div>
                            <div class="desc">
                                We provide an App strategy that will reach more mobiles by targeting all OS platforms.
                            </div>
                        </div>
                        <div class="featured-item feature-outline right m-bot-80 wow fadeInLeft">
                            <div class="icon ">
                                <i class=" fa fa-code"></i>
                            </div>
                            <div class="title">
                                <h4>Native Hybrid</h4>
                            </div>
                            <div class="desc">
                                Native code for integration of phone capabilities, or more portable hybrid apps.
                            </div>
                        </div>
                        <div class="featured-item feature-outline right wow fadeInLeft">
                            <div class="icon ">
                                <i class=" icon-computer_imac_thick"></i>
                            </div>
                            <div class="title">
                                <h4>Simple UX Design</h4>
                            </div>
                            <div class="desc">
                                From wireframe Prototype to design, we ensure simple and beautiful UX design for easy use by the end-user.   
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">

                    <div id="app-carousel" class="owl-carousel owl-theme">
                        <div>
                            <img src="{{ site.static-image-url }}/services/app-1.png" alt=""/>
                        </div>
                        <div>
                            <img src="{{ site.static-image-url }}/services/app-2.png" alt=""/>
                        </div>
                        <div>
                            <img src="{{ site.static-image-url }}/services/appimg1.png" alt=""/>
                        </div>                                                                        
                        <div>
                            <img src="{{ site.static-image-url }}/services/app-1.png" alt=""/>
                        </div>
                        <div>
                            <img src="{{ site.static-image-url }}/services/app-2.png" alt=""/>
                        </div>                        
                        <div>
                            <img src="{{ site.static-image-url }}/services/appimg1.png" alt=""/>
                        </div>                                                
                    </div>

                    </div>
                    <div class="col-md-4 p-top-80">
                        <div class="featured-item feature-outline m-bot-80 wow fadeInRight">
                            <div class="icon">
                                <i class=" fa fa-code-fork"></i>
                            </div>
                            <div class="title">
                                <h4>Full Development Cycle</h4>
                            </div>
                            <div class="desc">
                                Beginning to End - Wireframe, prototype, design, beta-release (user feedback), release.  
                            </div>
                        </div>
                        <div class="featured-item feature-outline  m-bot-80 wow fadeInRight">
                            <div class="icon ">
                                <i class="fa fa-bar-chart-o"></i>
                            </div>
                            <div class="title">
                                <h4>Usage Analytics</h4>
                            </div>
                            <div class="desc">
                                We gather usage statistics on your App to ensure a continually imporving product.
                            </div>
                        </div>
                        <div class="featured-item feature-outline wow fadeInRight">
                            <div class="icon ">
                                <i class=" fa fa-play-circle"></i>
                            </div>
                            <div class="title">
                                <h4>Digital Marketing</h4>
                            </div>
                            <div class="desc">
                                We can also help with Client Acquisition and Digital Marketing to get the user base you want for your App.
                            </div>
                        </div>
                    </div>
                </div>
                <!--feature border box end-->
            </div>

        </div>
    </div>
    <!--feature-->

    <!--feature-->
    <div class="page-content dark-feature dark-feature-parallax" id="service-core">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title-alt text-center featured-item">
                        <div class="icon bottom-border theme-color">
                            <i class="fa fa-code"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h3 class="text-uppercase theme-color">Core Development</h3>
                        </div>
                        <p class="half-txt p-bot-50">Efficient and highly skilled Developers that can engage your company with your unique problem set.</p>
                    </div>
                </div>
            </div>               
            <div class="row">
                <div class="col-md-6">
                    <div class="responsive-img m-bot-50 wow fadeInLeftBig" style="float: right;">
                        <img src="{{ site.static-image-url }}/services/programming.png" alt=""/>
                    </div>
                </div>            
                <div class="col-md-6 ">
                    <div class="featured-item feature-outline m-bot-40 wow fadeInRight">
                        <div class="icon">
                            <i class="icon-software_layers2"></i>
                        </div>
                        <div class="title">
                            <h4>FULL STACK Dev</h4>
                        </div>
                        <div class="desc">Low-level operations to web optimisation and all thing middle layer.</div>
                    </div>                                  
                    <div class="featured-item feature-outline m-bot-40 wow fadeInRight">
                        <div class="icon">
                            <i class=" fa fa-code"></i>
                        </div>
                        <div class="title">
                            <h4>CORE Languages</h4>
                        </div>
                        <div class="desc">Java, C++, C, .NET, JavaScript, Python, and more.</div>
                    </div>                         
                    <div class="featured-item feature-outline m-bot-40 wow fadeInRight">
                        <div class="icon">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="title">
                            <h4>Clean Code / Best Practices</h4>
                        </div>
                        <div class="desc">Quality-Assured Best-Practice code within AGILE Methodologies.</div>
                    </div>                        
                    <div class="featured-item feature-outline wow fadeInRight">
                        <div class="icon">
                            <i class="fa fa-star-o"></i>
                        </div>
                        <div class="title">
                            <h4>Specialist In</h4>
                        </div>
                        <div class="desc">Payment Gateways, Trading & Settlement Platforms, Quant-Algos, Blockchains, Event-Driven Architecture, Low-Latency / Sub-millisec Apps, Peer-2-Peer, Machine-Learning, Distributed Computing.</div>
                    </div>         
                    <!--<div class="featured-item feature-outline m-top-20 wow fadeInRight">
                        <a href="#" class="btn btn-medium btn-theme-border-color"> Find out more </a>
                    </div>-->                                                                
                </div>
            </div>
        </div>
    </div>
    <!--feature-->

    <!--feature-->
    <div class="page-content" id="service-cloud-bigdata">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title-alt text-center featured-item">
                        <div class="icon bottom-border theme-color">
                            <i class="icon-cloud"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h3 class="theme-color">Cloud / Big Data</h3>
                        </div>
                        <p class="half-txt p-bot-50">
                            Full-cycle Cloud Services using major IAAS Platforms. Experts in leading Big Data Enterprise Solutions including NoSQL, Event Stores, High-Latency Storage, Distributed Data Grids & Analytics Platforms.
                        </p>
                    </div>                       
                </div>             
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="featured-item feature-outline m-bot-40 wow fadeInLeft">
                        <div class="icon">
                            <i class="fa fa-plug"></i>
                        </div>                          
                        <div class="title">
                            <h4>DevOps Simplified</h4>
                        </div>
                        <div class="desc">
                            One-stop shop for moving your Web sites, applications and data to the Cloud. Keep your infrastructure nimble, adaptive & cost-effective for your business with a <b>Pay for Use, Design for Scalability</b> model.
                        </div>
                    </div>
                    <div class="featured-item feature-outline m-bot-40 wow fadeInLeft">
                        <div class="icon">
                            <i class="fa fa-database"></i>
                        </div>                    
                        <div class="title">
                            <h4>BIG DATA Experts</h4>
                        </div>
                        <div class="desc">
                            Your Companies Data is at the core of its value. Find out how we can help with  Risk-Management, Migration, Integration, Optimisation, Management, Data-Mining & Advanced Business Analytics.
                        </div>
                    </div>
                    <div class="featured-item feature-outline m-bot-40 wow fadeInLeft">
                        <div class="icon">
                            <i class="icon-key"></i>
                        </div>                          
                        <div class="title">
                            <h4>TURNKey Solutions</h4>
                        </div>
                        <div class="desc">
                            Take advantage of our Quality-Guaranteed Turnkey Solutions. Including Common CMS Solutions, Auto-Scale Multimedia Delivery Platforms, Data Deployment Archiving Recovery & Auto-Scaling.
                        </div>
                    </div>
                    <div class="featured-item feature-outline wow fadeInLeft">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>                        
                        <div class="title">
                            <h4>24/7 Monitoring / Automated Scaling</h4>
                        </div>
                        <div class="desc">
                            Reduce Business Risk with 24/7 Monitoring, Auto Fault-Recovery and Automated Scaling so you can pay only for what you need.
                        </div>
                    </div>                    
                </div>
                <div class="col-md-6">
                    <div class="responsive-img fit-img wow fadeInRight">
                        <img src="{{ site.static-image-url }}/services/cloud-services.jpg" alt=""/>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <!--feature-->


    <!--feature-->
    <div class="page-content dark-feature parallax-inner custom-parallax-3" id="service-enterprise-architecture">
        <div class="container">             
            <div class="row">
                <div class="col-md-6">
                    <!--<div class="responsive-img m-bot-50 wow fadeInLeftBig" style="float: right;">
                        <img src="{{ site.static-image-url }}/services/programming.png" alt=""/>
                    </div> -->
                </div>            
                <div class="col-md-6 ">
                    <div class="heading-title-alt featured-item">
                        <div class="icon bottom-border theme-color">
                            <i class="icon-circle-compass"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h3 class="text-uppercase theme-color">Enterprise Architecture</h3>
                        </div>
                        <div class="desc p-bot-50">Take advantage of emerging technology platforms such as social media, mobile technologies, big data analytics and cloud to drive business and performance. Our Enterprise Architecture services focus on ensuring that your business infrastructure is agile, resilient, responsive and lean in a competitive environment.</div>
                    </div>
                    <div class="featured-item feature-outline m-bot-40 wow fadeInRight">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="title">
                            <h4>Consultation Services</h4>
                        </div>
                        <div class="desc">Free consultations to ensure we can meet your specific requirements.</div>
                    </div>                                  
                    <div class="featured-item feature-outline m-bot-40 wow fadeInRight">
                        <div class="icon">
                            <i class=" fa fa-cubes"></i>
                        </div>
                        <div class="title">
                            <h4>Enterprise Architecture Planning</h4>
                        </div>
                        <div class="desc">Technology strategies, blueprints and investment roadmaps, Business Architecture Framework, Security Architecture Framework, Enterprise Cloud Framework.</div>
                    </div>                         
                    <div class="featured-item feature-outline m-bot-40 wow fadeInRight">
                        <div class="icon">
                            <i class="fa fa-road"></i>
                        </div>
                        <div class="title">
                            <h4>Roadmap Execution</h4>
                        </div>
                        <div class="desc">We can guarantee execution of short or Long term Roadmaps to get your infrastructure to where it needs to be.</div>
                    </div>                        
                    <div class="featured-item feature-outline wow fadeInRight">
                        <div class="icon">
                            <i class="icon-profile-male"></i>
                        </div>
                        <div class="title">
                            <h4>Talent Acquisition / Contract Management</h4>
                        </div>
                        <div class="desc">A large network of highly experienced IT Specialists to create the perfect IT workforce for your needs.</div>
                    </div>         
                    <!--<div class="featured-item feature-outline m-top-20 wow fadeInRight">
                        <a href="#" class="btn btn-medium btn-theme-border-color"> Find out more </a>
                    </div>-->                                                                
                </div>
            </div>
        </div>
    </div>
    <!--feature-->

    <!--feature-->
    <div class="page-content" id="service-project-management">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="heading-title-alt text-center featured-item">
                        <div class="icon bottom-border theme-color">
                            <i class="icon-basic_watch"></i>
                        </div>
                        <div class="title text-uppercase">
                            <h3 class="theme-color">Project Management</h3>
                        </div>
                        <p class="half-txt p-bot-10">
                            Reduce business risk and costs by taking advantage of our Project Management services. We ensure that the project you need is the project that is delivered without risk of expenditure blowouts.
                        </p>
                    </div>                       
                </div>             
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="featured-item feature-outline m-bot-40 wow fadeInLeft">
                        <div class="icon">
                            <i class="icon-cloud"></i>
                        </div>                    
                        <div class="title">
                            <h4>MILESTONE Deliverables</h4>
                        </div>
                        <div class="desc">
                            We work with Milestones, not billable hours. This reduces your risk and ensures that each iteration is bringing value to your company. 
                        </div>
                    </div>
                    <div class="featured-item feature-outline m-bot-40 wow fadeInLeft">
                        <div class="icon">
                            <i class="fa fa-plug"></i>
                        </div>                          
                        <div class="title">
                            <h4>TRANSPARENT Reporting</h4>
                        </div>
                        <div class="desc">
                            Track the process of your project every step of the way with a transparent view on all activities relating to your project.
                        </div>
                    </div>
                    <div class="featured-item feature-outline m-bot-40 wow fadeInLeft">
                        <div class="icon">
                            <i class="icon-key"></i>
                        </div>                          
                        <div class="title">
                            <h4>QUALITY Control</h4>
                        </div>
                        <div class="desc">
                            Each step of the process is reported on and assessed to ensure superb quality and maximised effiencies in the final product.
                        </div>
                    </div>
                    <div class="featured-item feature-outline wow fadeInLeft">
                        <div class="icon">
                            <i class="fa fa-line-chart"></i>
                        </div>                        
                        <div class="title">
                            <h4>Talent Acquisition / Management</h4>
                        </div>
                        <div class="desc">
                            We can both source and manage the talent required for your project to ensure project costs are kept lean and variablely related to deliverables and inhouse processes are unfettered.
                        </div>
                    </div>                    
                </div>
                <div class="col-md-6">
                    <div class="responsive-img fit-img p-top-50 wow fadeInRight" style="margin-left: -50px;">
                        <img src="{{ site.static-image-url }}/services/pm.png" alt=""/>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <!--feature-->




    <div class="testimonial-parallax ">
        <div class="overlay-dark page-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--testimonial start-->
                        <div id="testimonial-5" class="text-center light-txt big-icon ">
                            <div class="item">
                                <div class="testimonial-thumb">
                                    <img class="img-circle" src="{{ site.static-image-url }}/event_avatar1.jpg" alt="">
                                </div>

                                <div class="content">
                                    <p class="half-txt">
                                        Nam nec dui dolor. Curabitur in laoreet erat. Nam nec dui dolor. Aliquam varius
                                        dolor nunc, interdum commodo justoporttitor vitae. Quisque fermentum purus.
                                    </p>
                                    <div class="testimonial-meta">
                                        - Kevin Paige -
                                        <span>ABC</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-thumb">
                                    <img class="img-circle" src="{{ site.static-image-url }}/event_avatar3.jpg" alt="">
                                </div>
                                <div class="content">
                                    <p class="half-txt">Vestibulum varius fermentum risus vitae lacinia neque auctor
                                        nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero
                                        aliquet.</p>
                                    <div class="testimonial-meta">
                                        - John Doe -
                                        <span>head of marketing, TB</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimonial-thumb">
                                    <img class="img-circle" src="{{ site.static-image-url }}/event_avatar1.jpg" alt="">
                                </div>
                                <div class="content">
                                    <p class="half-txt">Vestibulum varius fermentum risus vitae lacinia neque auctor
                                        nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero
                                        aliquet.</p>
                                    <div class="testimonial-meta">
                                        - Linda Smith -
                                        <span>CEO, TB</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!--testimonial end-->
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>

