   <!--page title start-->
        <section class="page-title banner-background-auroville" id="about-me">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-6">
                        <h1 class="text-uppercase theme-color">Audrey Cassim</h1>
                        <span class="text-uppercase"> Yoga instructor</span>
                        <div class="m-top-30">
                            <img src="{{  site.static-image-url }}/about/signature.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page title end-->

        <!--body content start-->
        <section class="body-content">

            <div class="post-list-aside left-side post-p9">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6">
                            <div class="post-desk">
                                <div class="m-bot-30">
                                    <span class="post-sub-title text-uppercase">who am i</span>
                                    <h4 class="text-uppercase">
                                        i am yoga instructor.
                                    </h4>
                                </div>

                                <p>
                                    Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
                                </p>

                                <ul class="m-bot-30 circle-list inline-block">
                                    <li>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                    </li>
                                    <li>
                                        Adipisci blanditiis delectus deserunt dolorem
                                    </li>
                                    <li>
                                        Impedit inventore itaque iure libero maiores simso.
                                    </li>

                                </ul>

                                <div>
                                    <a href="#" class="btn btn-small btn-rounded btn-dark-solid  "> Read More </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>